@charset "CP850";

/*//////////

 	BASE

//////////*/

/*////////////////////////////////////////////////////

	FETCH LATEST NORMALIZE
	Sublime Text 2 > Fetch: File > Normalize.css

////////////////////////////////////////////////////*/

/*/////////////////////

 	VARIABLES, DUH

/////////////////////*/

/*/////////////

 	COLORS

/////////////*/

/*    HIGHLIGHT     */

/*    BODY     */

/*/////////////

 	MIXINS

/////////////*/

/*/////////////

 	HELPERS

/////////////////////////////////////////////////////

	ALL ELEMENTS HIGH UP THE FOOD CHAIN

//////////////////////////////////////////*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.1em;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  background: white;
  color: #444444;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
}

textarea {
  resize: vertical;
}

object,
iframe,
dl,
dt,
ol,
ul,
p,
blockquote,
pre,
h1,
h2,
h3,
h4,
h5,
h6,
address,
figure,
fieldset,
form,
table,
hr {
  margin: 0;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

blockquote {
  font-style: italic;
  margin: 60px auto;
}

blockquote p {
  margin-bottom: 0;
}

blockquote .quotes:before {
  content: '“';
  margin-right: 5px;
  font-size: 1.5em;
}

blockquote .quotes:after {
  content: '”';
  margin-left: 5px;
  font-size: 1.5em;
}

blockquote span.cite {
  display: block;
  margin: 10px auto;
  font-style: normal;
  padding-left: 10px;
}

blockquote span.cite:before {
  content: '— ';
}

blockquote.big {
  font-size: 1.5em;
  text-align: center;
}

blockquote.big span.cite {
  width: 50%;
  font-size: 0.8rem;
}

blockquote.small {
  font-size: 0.8em;
  text-align: left;
  width: 80%;
}

ul > li:not(:last-child) {
  margin-bottom: 1em;
}

.container-outer {
  width: 1100px;
  margin: 0 auto;
}

.container-inner {
  width: 700px;
  margin: 0 auto;
}

/*//////////////////

 	TYPOGRAPHY

////////////////////////////////

 	COMPONENTS

////////////////*/

/*/////////////

 	BUTTONS

/////////////*/

/*////////////

 	LISTS

////////////*/

/*////////////

 	LAYOUT

////////////*/

/*/////////////

 	HEADER

/////////////*/

/*/////////////////

 	NAVIGATION

/////////////////*/

/*/////////////

 	FOOTER

/////////////*/

/*////////////

 	MEDIA

////////////*/

/*///////////////////////////

 	MEDIA QUERIES & PRINT

//////////////////////////////////////

 	RETINA

/////////////*/