/*////////////////////////

 	CSS 3 ANIMATIONS

////////////////////////*/

.contentSlideIn { transform: translateZ(0); }


@keyframes contentSlideIn {
    0% {
        opacity: 0;

        transform: translateY(em(200));
    }
    100% {
        opacity: 1;

        transform: translateY(0);
    }
}
