/*///////////////////////////

 	MEDIA QUERIES & PRINT

///////////////////////////*/

@media print {
	img { max-width: 100% !important; }
}



@media all and (max-width: 1500px) {
	.container-outer > section > .cap:after {
		text-align: left;

		opacity: 1;
		border: 0;
		border-top: 1px solid #e3e3e3;

		position: relative;
		right: auto;
		display: block;
		width: 100%;
		margin-top: 10px;
		padding-top: 10px;
		padding-right: 0;
	}

	.container-outer > section > blockquote.big.cap:after {
		text-align: center;
	}
}

@media all and (max-width: $desktop-outer+50) {
	.container-outer { width: 95%; }
}

@media all and (max-width: $desktop-inner+50) {
	.container-inner { width: 90%; }
}

@media all and (max-width: $desktop-outer - 50) {
	.cap:after {
		text-align: left;

		opacity: 1;
		border: 0;
		border-top: 1px solid #e3e3e3;

		position: relative;
		right: auto;
		display: block;
		width: 100%;
		margin-top: 10px;
		padding-top: 10px;
		padding-right: 0;
	}
}

@media screen and (max-width: 550px) {
	html { font-size: 110%; }

	h1 { font-size: 2em; }

	code { white-space: pre-line; }

	.nwl { display: inline-block; width: 100%; } // newline = break to new line on small screens only

	// LOC: components/_blockquote
	blockquote.small { width: 90%; }

	figure {text-align: center; display: block;  width: 100%; }
	figcaption { display: block; }

	img {display: inline-block;  width: auto; }

	.icon {
		margin-top: 0;
	}
}
