/*///////////////////

 	BLOCKQUOTES

///////////////////*/

blockquote {
	font-style: italic;
	line-height: 1.5em;

	margin: 50px auto;
	margin: rem(50) auto;
	p { margin-bottom: 0; }
	.quotes { quotes: '\201C' '\201D'; }
	.quotes:before, .quotes:after { font-size: 1.5em; }
	.quotes:before {
		content: open-quote;   // Left quotation mark

		margin-right: em(5);
	}
	.quotes:after {
		content: close-quote;   // Right quotation mark

		margin-left: em(5);
	}
	cite {
		font-style: normal;
		line-height: 24px;
		line-height: 1.5rem;

		display: block;
		margin: em(10) auto;
		padding-left: em(10);
	}
	cite:before { content: '\2014'; margin-right: em(5); }   // Places a '-' before the author's name
}

// BIG (MOSTLY SHORT ONE LINER) QUOTES
blockquote.big {
	font-size: 1.5em;
	text-align: center;
	cite {
		font-size: .8rem;

		width: 50%;
	}
}

// SMALL (MOSTLY MULTILINE) QUOTES
blockquote.small {
	font-size: .9em;
	text-align: left;

	width: 80%;
}
