/*/////////////

 	BUTTONS

/////////////*/

button, .button, [type=button], [type=submit] {
	cursor: pointer;

	font-family: $font-heading;
	font-size: .75em;
	line-height: 1em;
	text-align: center;
	white-space: nowrap;
	letter-spacing: em(1);
	text-overflow: ellipsis;

	color: $color__button-text;
	border: none;
	border-radius: 3px;
	background-color: $color__button-bg;
	text-shadow: 1px 1px 1px rgba(0,0,0,.1);

	position: relative;
	display: inline-block;
	box-sizing: initial;
	margin: 0 0 10px;
	padding: .7em;

	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
}

button.big, .button.big, [type=button].big, [type=submit].big {
	padding: 1em;
}

button:hover, .button:hover, [type=button]:hover, [type=submit]:hover {
	background: $color__button-hover-bg;
}

button.grey, .button.grey, [type=button].grey, [type=submit].grey {
	background: $color__button-grey-bg;
}

button.grey:hover, .button.grey:hover, [type=button].grey:hover, [type=submit].grey:hover {
	background: $color__button-grey-hover-bg;
}

