/*/////////////

 	FORMS

/////////////*/

textarea, input, select, button { outline: 0px; }
fieldset, textarea, input[type=password], input[type=text], input[type=email], input[type=number] {
	border: 1px solid rgba(0,0,0,.1);
}

fieldset label {
	font-size: .7em;
	font-style: italic;

	display: block;
	margin: 0 0 3px;
}

textarea.wide { resize: vertical; }


textarea, input[type=password], input[type=text], input[type=email], input[type=number] {
	color: rgba(0,0,0,.5);
	background-color: $color__white;

	display: block;
	width: 220px;
	height: 45px;
	margin-bottom: .5rem;
	padding: 10px;

	transition: border-color .05s;

	-webkit-appearance: none;
}


textarea:focus, input[type=password]:focus, input[type=text]:focus, input[type=email]:focus, input[type=number]:focus {
	color: $color__field-border;
	border-color: rgba(0,0,0,.25);
}

textarea {
	resize: both;

	overflow: auto;
	width: 400px;
	height: 80px;
}


// CHECKBOX & RADIOBUTTONS

.checkbox input[type=checkbox], .radio input[type=radio] { display: none; }
.checkbox label, .radio label { cursor: pointer; }

.checkbox label:before, .radio label:before {
	content: '';

	vertical-align: sub;

	border: 1px solid $color__lightgrey;
	background: $color__white;

	display: inline-block;
	zoom: 1;
    *display: inline;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.radio label:before { border-radius: 50%; }

.checkbox input[type=checkbox]:checked + label:before {
	opacity: .8;
	background: url('../img/static/check.svg');
	background-repeat: no-repeat;
	background-position: 2px 2px;
	background-size: contain;
	background-size: 15px 15px;
}

.radio input[type=radio]:checked + label:before {
	background: #555;
	box-shadow: 0 0 0 5px #fff inset;
}


.checkbox input[type=checkbox]:disabled + label,
.checkbox input[type=checkbox]:disabled + label:before,
.radio input[type=radio]:disabled + label,
.radio input[type=radio]:disabled + label:before {
	opacity: .5;
}

.checkbox input[type=checkbox]:disabled + label:before,
.radio input[type=radio]:disabled + label:before {
	border: 1px solid $color__darkgrey;
}


// PROGRESS BAR

.progress {
	background: $color__lightgrey;

	width: 100%;
	height: 7px;
	.progress-bar {
		background: $color__accent;

		float: left;
		height: 100%;

		transition: width 1s;
	}
}

.optional, .required { color: rgba(0, 0, 0, 0.5); }