/*////////////////////////

 	IMAGES & FIGURES

////////////////////////*/

img { transition: .3s; transform: translate(0,0); }

figure { display: table; min-width: em(100); }

figcaption {
	font-size: .6em;
	font-style: italic;
	text-align: center;

	color: $color__figcaption-text;

	caption-side: bottom;

	display: table-caption;
	margin-top: 3px;
}
