/*/////////////

 	LOGO

/////////////*/

.logo {
	position: fixed;
	top: 0;
	left: 0;
	width: 180px;

	transition: transform .5s;
	transform: translateX(-130px);
}

.logo:hover {
	transform: translateX(0);
}

.logo-icon, .creator { display: inline-block; }

.logo-icon {
	cursor: pointer;

	text-align: center;

	background: $color__logo-bg;

	position: relative;
	overflow: hidden;
	width: 50px;
	height: 50px;
	padding-top: 13px;
	svg {
		fill: $color__logo-fill;
	}
	// .flame-anim {
	// 	background: $color__logo-bg;

	// 	position: absolute;
	// 	width: 100%;
	// 	height: 40px;

	// 	animation: flame 20s infinite;
	// }
}

.creator {
	font-size: .6em;
	line-height: 2.3em;
	vertical-align: top;

	width: 130px;
	padding: 0 10px;
}

// @keyframes flame {
//     2% { bottom: 0 ; left: 0; transform: rotate(0deg);  }
//     5% { bottom: 10px; left: -20px; transform: rotate(-90deg); }
//     10% { bottom: 50px; left: 0; transform: rotate(0deg); }
//     100% { bottom: 40px; left: 0; }
// }
