/*////////////////////////////////////

 	PREFORMATED TEXT & CODE BLOCKS

///////////////////////////////////*/

pre { position: relative;  padding-left: 1em; }
pre.cb { border: 1px solid $color__pre-border; border-bottom: 5px solid $color__pre-border; } // code block/border

pre:before {
	content: attr(data-syntax);

	font-family: $font-heading;
	font-size: .8em;
	letter-spacing: 0px;
	letter-spacing: em(1);

	opacity: 0;
	color: $color__syn-text;
	background: $color__syn-bg;

	position: absolute;
	top: 0;
	right: 0;
	display: block;
	padding: 2px 10px;

	transition: opacity .5s;
}

pre:hover:before { opacity: 1; }

p code {
	font-size: .8em;

	color: $color__accent;
	border: 1px solid #e1e1e8;

	padding: 3px 4px;
}


pre code {
	font-size: .85em;
	white-space: pre-wrap;

	overflow: auto;
	.ct { color: $color__accent; } 						// code tag
	.attr, .fun { color: #07a; } 						// attribute tag + function
	.val { color: #690; } 								// value
	.com { color: $color__code_comment-text; } 			// comment
	ol {												// line numbers
		display: inline-block;
		margin: 0;
		li { display: inline; margin: 0; }
	}
}
