/*////////////////////////////////////

 	PREFORMATED TEXT & CODE BLOCKS

///////////////////////////////////*/

pre { position: relative;  padding-left: 1em; }
pre.cb { border: 1px solid $color__pre-border; border-bottom: 5px solid $color__pre-border; } // code border

pre:before {
	content: attr(data-syntax);

	font-family: $font-heading;
	font-size: .8em;
	letter-spacing: 0px;
	letter-spacing: em(1);

	opacity: 0;
	color: $color__syn-text;
	background: $color__syn-bg;

	position: absolute;
	top: 0;
	right: 0;
	display: block;
	padding: 2px 10px;transition: opacity .5s;
}

pre:hover:before { opacity: 1; }


code {
	font-size: .85em;
	white-space: pre-wrap;

	overflow: auto;

	.ct { color: $color__accent; } 						// code tag
	.at, .fun { color: #07a; } 							// attribute tag
	.val { color: #690; } 								// attribute tag
	.com { color: $color__code_comment-text; } 			// comment

	ol {
		display: inline-block;
		margin: 0;
		li { display: inline; margin: 0; }
	}
}
