/*/////////////////

 	PRELOADERS

////////////////*/


.preloader {
	position: relative;
	display: block;

	.part { background: $color__accent; }
}

.pre-lo-lines { height: 37px; width: 40px; }

.pre-lo-page {
	height: 80px;
	width: 60px;
	padding: 20px 0 0 10px;
}

.pre-lo-blocks {
	height: 25px;
	width: 25px;
}

.p1, .p2, .p3, .p4 { position: absolute; }

.p1, .p3 { width: 4px; height: 80px; }
.p2, .p4 { width: 60px;	height: 4px; }

.p1, .p2 {top: 0; left: 0; }
.p3, .p4 { right: 0; bottom: 0;}


.el1, .el2, .el3, .el4 {
	position: relative;
	height: 4px;

	animation: slideIn 2s linear infinite;
}

.el2, .el3, .el4 {
	margin-top: 7px;
}

.el1 { width: 40px;	animation-delay: .8s; }
.el2 { width: 20px;	animation-delay: 1.6s; }
.el3 { width: 30px;	animation-delay: 2.4s; }
.el4 { width: 35px;	animation-delay: 3.2s; }

.b1, .b2, .b3, .b4 {
	position: absolute;
	width: 10px;
	height: 10px;

	animation: slideIn 2s linear infinite;
}

.b1, .b2 { top: 0; }
.b3, .b4 { top: 15px; }
.b1, .b3 { left: 0; }
.b2, .b4 { left: 15px; }

.b1 { animation-delay: .2s; }
.b2 { animation-delay: .4s; }
.b3 { animation-delay: .6s; }
.b4 { animation-delay: .8s; }

.loading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .4em;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;

	color: $color__accent;

	position: absolute;
	bottom: -25px;
	left: 4px;
	margin: 0;
}

@keyframes slideIn {
	0% {opacity: 0;}
	10% {opacity: .86;}
	40% {opacity: .2;}
	60% {opacity: .9;}
	75% {opacity: .4;}
	90% {opacity: 1;}
	100% {opacity: 0;}
}