/*////////////////////////////////////

 	PREFORMATED TEXT & CODE BLOCKS

///////////////////////////////////*/

pre { padding-left: 1em; position: relative; }
pre.cb { border: 1px solid $color__pre-border; border-bottom: 5px solid $color__pre-border; } // code border

pre .syn {							// syntax
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	background: $color__syn-bg;
	padding: 2px 10px;
	color: $color__syn-text;
	font-family: $heading-font;
	letter-spacing: 0px;
	font-size: 0.8em;
	letter-spacing: em(1);
	opacity: 0; transition: opacity 0.5s;
}

pre:hover .syn { opacity: 1; }


code {
	font-size: 0.85em;
	white-space: pre-wrap;
	overflow: auto;

	.ct { color: $color__accent; } 						// code tag
	.at, .fun { color: #07a; } 							// attribute tag
	.val { color: #690; } 							// attribute tag
	.com { color: $color__code_comment-text; } 			// comment

	ol {
		display: inline-block;
		margin: 0;

		li { display: inline; margin: 0; }
	}
}
