/*//////////////////////////////////////////

	ALL ELEMENTS HIGH UP THE FOOD CHAIN

//////////////////////////////////////////*/

* { box-sizing: border-box; }

html {
	font-size: 110%;
	overflow-y: scroll;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: Georgia, Times, "Times New Roman", serif;
  	font-size: 1.1em;
  	line-height: 1.5em;
  	letter-spacing: em(0.4);

  	background: $color__base-bg;
  	color: $color__base-text;

	text-rendering: optimizeLegibility;
	// -webkit-font-smoothing: antialiased;  --- anti-aliasing if light text on dark BG

  	-webkit-tap-highlight-color: transparent;
	-webkit-backface-visibility: hidden;
}

textarea { resize: vertical; }

object, iframe,
dl, dt, ol, ul,
p, blockquote, pre,
h1, h2, h3, h4, h5, h6,
address, figure, fieldset, form, table, hr, .md {
	display: block;
	margin: 0;
    margin-bottom:24px;
    margin-bottom:1.5rem;
} // md = margin down

section { margin-bottom:32px; margin-bottom:2rem; }

.md.link-wrap {
	margin-bottom:16px;
	margin-bottom:1rem;

	a { display: inline-block; }
}

.container-outer {
	width: $desktop-outer;
	margin: em(50) auto 0;

	animation-name: contentSlideIn;
	animation-iteration-count: 1;
	animation-duration: 1s;
	animation-delay: 0.3s;
}

.contentSlideIn {
	transform: translateZ(0);
}



@keyframes contentSlideIn {
    0% {
        transform: translateY(em(200));
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.container-inner {
	width: $desktop-inner;
	margin: 0 auto;
}
