/*/////////////

 	COLORS

/////////////*/


/*    HIGHLIGHT     */

$highlightBGColor: #b55856; // Indianred
$highlightTextColor: #FFF; // White


/*    BODY     */

$bodyBGColor: #FFF;
$bodyTextColor: #444;