/*/////////////

 	COLORS

/////////////*/

$color__lightgrey: #D3D3D3;
$color__darkgrey: #AAA;
$color__white: #FFF;
$color__indian: #b55856;			// red
$color__emerald: #009975; 			// green
$color__tangerine: #e2492f; 		// orangered
$color__turquoise: #44b8ab; 		// turquoise
$color__mimosa: #eec050; 			// yellow
$color__blueIris: #5b5da7; 			// purple


/*    BASE     */

$color__base-bg: 					#FFF;					// White
$color__base-text: 					#444;					// Grey


/*    ACCENT     */

$color__accent: 					$color__indian; 			// Indianred


/*    HIGHLIGHT     */

$color__highlight-bg: 				$color__accent; 			// Indianred
$color__highlight-text: 			$color__white;			// White


/*    HYPERLINKS     */

$color__link-text: 					$color__accent; 			// Indianred


/*    FIGURES & IMAGES     */

$color__figcaption-text: 			$color__darkgrey; 		// Grey


/*    HORIZONTAL RULE     */

$color__hr: 						#e9e9e9; 				// Grey


/*    PREFORMATTED TEXT & CODE BLOCKS     */

$color__pre-border: 				$color__lightgrey; 		// Grey
$color__syn-bg:						$color__pre-border; 	// Grey
$color__syn-text:					$color__white;			// White

$color__code_comment-text:			$color__darkgrey;		// Grey


/*    BUTTONS     */

$color__button-bg: 					$color__accent; 			// Indianred
$color__button-text:				$color__white;			// White

$color__button-hover-bg:			#BC6967;				// Indianred ( light )

$color__button-grey-bg:				#BEBEBE; 				// Grey
$color__button-grey-hover-bg:		#CECECE; 		// Grey


/*    FORMS     */

$color__field-border: 				$color__darkgrey; 		// Grey


/*    LOGO     */

$color__logo-bg: 					$color__lightgrey; 		// Grey
$color__logo-fill:					$color__white;