/*/////////////

 	HELPERS

/////////////*/

::-moz-selection { color: $color__highlight-text;  background: $color__highlight-bg; text-shadow: none; }
::selection { color: $color__highlight-text;  background: $color__highlight-bg; text-shadow: none; }

[data-caption] { position: relative; }

[data-caption]:after {
	content: attr(data-caption);
	display: inline;

	font-size: .6rem;
	font-style: italic;
	font-weight: 100;
	line-height: 1rem;
	// *line-height: 18px;
	text-align: right;
	vertical-align: middle;
	text-transform: none;

	opacity: 0;
	color: #aaa;
	border-right: 1px solid #e3e3e3;

	position: absolute;
	top: 5px;
	right: 100%;
	width: 150px;
	margin-right: 30px;
	padding-right: 10px;

	transition: opacity .5s;
}

pre[data-caption]:after {
	text-align: left;

	opacity: 1;
	border: 0;
	border-top: 1px solid #e3e3e3;

	position: relative;
	top: 0;
	right: auto;
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-right: 0;
}

[data-caption]:hover:after { opacity: 1; }

.wide { width: 100%!important; }

@media screen and (min-width:0\0) {
	[data-caption]:after {
		line-height: inherit!important; // IE hack for pseudo element line-height bug
	}
 }

.callout {
	border-left: 0.4em solid $color__accent;
	padding-left: 1em;
}