/*/////////////

 	HELPERS

/////////////*/

::-moz-selection { background: $highlightBGColor; color: $highlightTextColor; text-shadow: none; }
::selection { background: $highlightBGColor; color: $highlightTextColor; text-shadow: none; }