/*/////////////

 	HELPERS

/////////////*/

::-moz-selection {color: $color__highlight-text;  background: $color__highlight-bg; text-shadow: none; }
::selection {color: $color__highlight-text;  background: $color__highlight-bg; text-shadow: none; }

.cap { position: relative; }

.cap:after {
	content: attr(data-caption);

	font-size: .6rem;
	font-style: italic;
	line-height: 1rem;
	text-align: right;
	vertical-align: middle;
	text-transform: none;

	opacity: 0;
	color: #aaa;
	border-right: 1px solid #e3e3e3;

	position: absolute;
	top: 5px;
	right: 100%;
	width: 150px;
	margin-right: 30px;
	padding-right: 10px;

	transition: opacity .5s;
}

pre.cap:after {
	text-align: left;

	opacity: 1;
	border: 0;
	border-top: 1px solid #e3e3e3;

	position: relative;
	top: 0;
	right: auto;
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-right: 0;
}

.cap:hover:after {
	opacity: 1;
}
