/*/////////////

 	HELPERS

/////////////*/

::-moz-selection { background: $color__highlight-bg; color: $color__highlight-text; text-shadow: none; }
::selection { background: $color__highlight-bg; color: $color__highlight-text; text-shadow: none; }