/*//////////////////

 	TYPOGRAPHY

//////////////////*/

h1, h2, h3, h4, h5, h6 { line-height: 1.5em; }
h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}

h2 { font-size: 1em; }

a {
	text-decoration: none;
	color: $color__link-text;
	padding-bottom: em(1);
	position: relative;
}
a:hover {}
a:hover:after { width: 100%; }

a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 0;
	color: $color__link-text;
	border-bottom: 1px solid $color__link-text;
	content: '';
	transition: width 0.5s;
}

.email { font-style: italic; }