/*/////////////////////

 	VARIABLES, DUH

/////////////////////*/

$font-base: Georgia, Times, "Times New Roman", serif;
$font-heading: Arial, Helvetica, sans-serif;

$desktop-inner: 700px;
$desktop-outer: 1100px;