/*/////////////////////

 	VARIABLES, DUH

/////////////////////*/

$base-font: Georgia, Times, "Times New Roman", serif;
$heading-font: Arial, Helvetica, sans-serif;

$desktop-inner: 700px;
$desktop-outer: 1100px;